<div class="container mt-3">
  <h2>Customer List</h2>

  <td><button type="button" (click)="addcus()" class="btn btn-primary pull-right" >ADD CUSTOMER</button></td> 
        
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>CustomerID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Country</th>
        <th>CreatedDate</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of result">
        <td>{{v.CustomerID}}</td>
        <td>{{v.FirstName}}</td>
        <td>{{v.LastName }}</td>
        <td>{{v.Country}}</td>
        <td>{{v.CreatedDate}}</td>
        
        <td><button type="button" (click)="deletecus(v.CustomerID)" class="btn btn-primary">Delete</button></td>
        <td><button type="button" (click)="updatecus(v.CustomerID)" class="btn btn-primary">Edit</button></td>
        <td><button type="button" (click)="viewcus(v.CustomerID)" class="btn btn-primary">view</button></td>
      </tr>
    </tbody>
  </table>
</div>


